In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("hospital.csv")
df

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
0,AF,NaN,NaN,33.00,65.00,TOTAL,1000HAB,0.5,31161376,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
1,AO,NaN,NaN,-12.50,18.50,TOTAL,1000HAB,0.8,19433602,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
2,AL,NaN,NaN,41.00,20.00,TOTAL,1000HAB,2.6,2900401,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
3,AD,NaN,NaN,42.50,1.50,TOTAL,1000HAB,2.5,84463,2009,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
4,AE,NaN,NaN,24.00,54.00,TOTAL,1000HAB,1.1,9141596,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
...,...,...,...,...,...,...,...,...,...,...,...,...
194,WS,NaN,NaN,-13.58,-172.33,TOTAL,1000HAB,1.0,179727,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
195,YE,NaN,NaN,15.00,48.00,TOTAL,1000HAB,0.7,24473178,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
196,ZA,NaN,NaN,-29.00,24.00,TOTAL,1000HAB,2.8,47880601,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
197,ZM,NaN,NaN,-15.00,30.00,TOTAL,1000HAB,2.0,13605984,2010,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
198,ZW,NaN,NaN,-20.00,30.00,TOTAL,1000HAB,1.7,12894316,2011,world-bank,https://datahub.io/world-bank/sh.med.beds.zs

In [3]:
df.fillna(0)

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
0,AF,0.0,0.0,33.00,65.00,TOTAL,1000HAB,0.5,31161376,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
1,AO,0.0,0.0,-12.50,18.50,TOTAL,1000HAB,0.8,19433602,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
2,AL,0.0,0.0,41.00,20.00,TOTAL,1000HAB,2.6,2900401,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
3,AD,0.0,0.0,42.50,1.50,TOTAL,1000HAB,2.5,84463,2009,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
4,AE,0.0,0.0,24.00,54.00,TOTAL,1000HAB,1.1,9141596,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
...,...,...,...,...,...,...,...,...,...,...,...,...
194,WS,0.0,0.0,-13.58,-172.33,TOTAL,1000HAB,1.0,179727,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
195,YE,0.0,0.0,15.00,48.00,TOTAL,1000HAB,0.7,24473178,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
196,ZA,0.0,0.0,-29.00,24.00,TOTAL,1000HAB,2.8,47880601,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
197,ZM,0.0,0.0,-15.00,30.00,TOTAL,1000HAB,2.0,13605984,2010,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
198,ZW,0.0,0.0,-20.00,30.00,TOTAL,1000HAB,1.7,12894316,2011,world-bank,https://datahub.io/world-bank/sh.med.beds.zs

In [4]:
df["state"].fillna("Bihar",inplace=True)

In [5]:
df

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
0,AF,Bihar,NaN,33.00,65.00,TOTAL,1000HAB,0.5,31161376,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
1,AO,Bihar,NaN,-12.50,18.50,TOTAL,1000HAB,0.8,19433602,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
2,AL,Bihar,NaN,41.00,20.00,TOTAL,1000HAB,2.6,2900401,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
3,AD,Bihar,NaN,42.50,1.50,TOTAL,1000HAB,2.5,84463,2009,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
4,AE,Bihar,NaN,24.00,54.00,TOTAL,1000HAB,1.1,9141596,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
...,...,...,...,...,...,...,...,...,...,...,...,...
194,WS,Bihar,NaN,-13.58,-172.33,TOTAL,1000HAB,1.0,179727,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
195,YE,Bihar,NaN,15.00,48.00,TOTAL,1000HAB,0.7,24473178,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
196,ZA,Bihar,NaN,-29.00,24.00,TOTAL,1000HAB,2.8,47880601,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
197,ZM,Bihar,NaN,-15.00,30.00,TOTAL,1000HAB,2.0,13605984,2010,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
198,ZW,Bihar,NaN,-20.00,30.00,TOTAL,1000HAB,1.7,12894316,2011,world-bank,https://datahub.io/world-bank/sh.med.beds.zs

In [6]:
df.county.fillna(1000,inplace=True)

In [7]:
df

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
0,AF,Bihar,1000.0,33.00,65.00,TOTAL,1000HAB,0.5,31161376,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
1,AO,Bihar,1000.0,-12.50,18.50,TOTAL,1000HAB,0.8,19433602,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
2,AL,Bihar,1000.0,41.00,20.00,TOTAL,1000HAB,2.6,2900401,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
3,AD,Bihar,1000.0,42.50,1.50,TOTAL,1000HAB,2.5,84463,2009,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
4,AE,Bihar,1000.0,24.00,54.00,TOTAL,1000HAB,1.1,9141596,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
...,...,...,...,...,...,...,...,...,...,...,...,...
194,WS,Bihar,1000.0,-13.58,-172.33,TOTAL,1000HAB,1.0,179727,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
195,YE,Bihar,1000.0,15.00,48.00,TOTAL,1000HAB,0.7,24473178,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
196,ZA,Bihar,1000.0,-29.00,24.00,TOTAL,1000HAB,2.8,47880601,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
197,ZM,Bihar,1000.0,-15.00,30.00,TOTAL,1000HAB,2.0,13605984,2010,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
198,ZW,Bihar,1000.0,-20.00,30.00,TOTAL,1000HAB,1.7,12894316,2011,world-bank,https://datahub.io/world-bank/sh.med.beds.zs